/* https://nextjs.org/docs/advanced-features/customizing-babel-config 
https://styled-components.com/docs/tooling#babel-plugin */
{
    "presets": ["next/babel"],
    "plugins": ["babel-plugin-styled-components"]
}