@import url("https://fonts.googleapis.com/css?family=Lato:700,400");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

/* two solutions for scrollbar on some but not all pages:
https://stackoverflow.com/questions/1417934/how-to-prevent-scrollbar-from-repositioning-web-page
https://aykevl.nl/2014/09/fix-jumping-scrollbar
*/

html {
  font-size: 1rem;
  font-family: "Poppins", "Lato", sans-serif;
  -webkit-text-size-adjust: 100%;
  background: conic-gradient(from 225deg at -100px -100px, #20b2aa, #135da5, #0d0895, #4b0082, #4b0082, #0d0895, #135da5, #20b2aa);
  color: white;
  min-height: 100%;
  overflow-y: scroll;
}

img {
  border-style: none;
}

main {
  font-family: "Poppins", "Lato", sans-serif;
  margin: 25px 25px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

p {
  margin: 10px 0 0 0;
}

a {
  color: white;
  text-decoration: none;
}